<main class="main">
  <div class="login-form">
    <h2 class="heading-secondary ma-bt-lg">Log into your account</h2>
    <form class="form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form__group">
        <label class="form__label" for="email">Email address</label>
        <input id="email" name="email" class="form__input" type="email" placeholder="you@example.com" required
          [(ngModel)]="user.email" #email="ngModel" />
        <div *ngIf="email.invalid && email.touched" class="form__error">Valid email is required</div>
      </div>

      <div class="form__group ma-bt-md">
        <label class="form__label" for="password">Password</label>
        <input id="password" name="password" class="form__input" type="password" placeholder="••••••••" required
          minlength="8" [(ngModel)]="user.password" #password="ngModel" />
        <div *ngIf="password.invalid && password.touched" class="form__error">
          Password must be at least 8 characters
        </div>
      </div>

      <div class="form__group">
        <button class="btn btn--green" type="submit" (click)="login()" [disabled]="loginForm.invalid">Login</button>
      </div>
    </form>
    Don't have an account , <a routerLink="/signUp">Sign Up here</a>
  </div>
</main>