<div class="navigation">
  <input type="checkbox" class="navigation__checkbox" id="nav1-toggle">
  <label for="nav1-toggle" class="navigation__button">
    <span class="navigation__icon">&nbsp;</span>
  </label>

  <div class="navigation__background">&nbsp;</div>

  <nav class="navigation__nav">
    <ul class="navigation__list">
      <li class="navigation__item"><a routerLink="/layout/list" class="navigation__link"><span>01</span>Home </a></li>
      <li class="navigation__item"><a routerLink="/layout/about" class="navigation__link"><span>02</span> About</a></li>
      <li class="navigation__item"><a routerLink="/layout/about" class="navigation__link"><span>03</span> Popular
          tours</a></li>
      <li class="navigation__item"><a routerLink="/layout/booking" class="navigation__link"><span>04</span> Book now</a>
      </li>
      <li class="navigation__item"><a routerLink="/" class="navigation__link"><span>05</span> Logout</a></li>
    </ul>
  </nav>
</div>